<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toon/verberg navigatie</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">Sollicitatiebeheer</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Vacatures</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Applicatiebeheer <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Parameters</li>
            <li><a href="#">Afdelingen</a></li>
            <li><a href="#">Functies</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Gebruikers</li>
            <li><a href="#">Gebruikers</a></li>
          </ul>
        </li>
        <p class="navbar-text">Yves Schelpe</p>
      </ul>
    </div>
  </div>
</nav>