/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

/** FOOTER **/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

#content {
  padding: 60px 15px 0;
}

.footer > #content {
  padding-right: 15px;
  padding-left: 15px;
}

/** PAGE TITLE **/
h1, h2, h3, h4, h5, h6 {
    &.page-title {    
        padding: 0;
        margin: 20px 0 20px 0;                
    }
}

/** PANELS **/
.panel-heading {
    h1, h2, h3, h4, h5, h6 {
        padding: 0;
        margin: 8px 8px 8px 0;
    }

    .panel-heading-buttons {
        .btn {
            margin: 6px 0px 6px 6px;
        }
    }    
}

table.table-info-detail {
    border: 0;
    margin: 0;
    tr {
        border: 0;
        margin: 0;
        padding: 0;
        td:first-child {
            width: 100px;
        }
        td {
            border: 0px;
            margin: 0;
            padding: 0;
        }
    }
    td.info-detail-label {
        font-weight: bold;
    }
    td.info-detail-content {        
    }
}